/accumulated_digits.png
/accumulated_digits2.png
/accumulated_digits3.png
/detected_weight.csv
/digits
/image.png
/mask.py
/output
/output_06-06-2025.mp4
/output_video_weight.mp4
/output_video_weight2.mp4
/output_video_weight3.mp4
/paddle_ocr.py
/recordings
/rtsp.py
/runs
/test.py
/train_val_split.py
/video.py
/weights
/weight_digits
/yolo11n.pt
/yolo11s.pt